    </main>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ .Site.BaseURL }}/assets/material-components-web.min.js"></script>
    <script>
      mdc.autoInit();
      var drawerEl = document.querySelector('.mdc-temporary-drawer');
      var MDCTemporaryDrawer = mdc.drawer.MDCTemporaryDrawer;
      var drawer = new MDCTemporaryDrawer(drawerEl);
      document.querySelector('.demo-menu').addEventListener('click', function() {
        drawer.open = true;
      });
      drawerEl.addEventListener('MDCTemporaryDrawer:open', function() {
        console.log('Received MDCTemporaryDrawer:open');
      });
      drawerEl.addEventListener('MDCTemporaryDrawer:close', function() {
        console.log('Received MDCTemporaryDrawer:close');
      });
    </script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
